{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>
        청원게시판
    </h1>
    {% if user.is_authenticated %}
    <a href="{% url 'new' %}">글 작성하기</a>
    {% endif %}
    {%for board in boards.all%}
    <div class ="container">
    <a href ="{% url 'detail' board.id%}"><h2>{{board.title}}</h2></a>
       {{board.date}}
       {{board.writer}}
    </div>
    {%endfor%}
    
</body>
</html>
{% endblock %}